body{
    font-family: 'Merriweather', serif;
    margin: 0;
}

p {
    color: #676059;
}

h1{
    font-size: 60px;
    color: #575757;
}

.flexibleSection{
    display: flex;
    margin-bottom: 100px;
}

.sec1{
    width: 50%;
    padding-left: 2%;
    margin-top: 5%;
}

.sec1 p{
    font-size: 20px;
    color: #575757;
}

#orangedText{
    color: orange;
}

.order{
    background: linear-gradient(orange, yellow);
    text-decoration: none;
    padding: 20px 30px;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    box-shadow: 2px 2px 5px 1px orange;
    
}

#sec1left{
    margin-top: 20%;
    margin-left: 5%;
}

.sec2{
    width:40%;
    margin-left: 5%;
    margin-right: 5%;
}

.sec2right{
    width: 40%;
    margin-top: 10%;
}
.sec2 p {
    font-size: 20px;
    margin-bottom: 20%;
}

.contact{
    background: linear-gradient(orange, yellow);
    text-decoration: none;
    padding: 20px 30px;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    box-shadow: 2px 2px 5px 1px orange;
    
}

#section2{
    height:100%;
    background:url('images/bg.jpg') no-repeat;
    background-position:center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

.ourFoods{
    text-align: center;
    
}

.sec3{
    padding: 10px 10px;
    width: 25%;
    margin-left: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px gray;
}

.sec3 h3{
    font-size: 30px;
}

.sec3 img{
    width: 100%;
}