body{
    font-family: 'Merriweather', serif;
    margin: 0;
}

h1{
    font-size: 60px;
    color: #575757;
}

section{
    display: flex;
    margin-bottom: 100px;
}

.sec1{
    width: 40%;
    padding-left: 2%;
    margin-top: 5%;
}

.sec1 p{
    font-size: 20px;
    color: #575757;
}

#orangedText{
    color: orange;
}

.order{
    background: linear-gradient(orange, yellow);
    text-decoration: none;
    padding: 20px 30px;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    box-shadow: 2px 2px 5px 1px orange;
    
}

#sec1left{
    margin-top: 20%;
    margin-left: 10%;
}

.sec2{
    width:40%;
    margin-left: 5%;
}

.sec2right{
    width: 40%;
    margin-top: 10%;
}
.sec2 p {
    font-size: 20px;
    margin-bottom: 20%;
}

.contact{
    background: linear-gradient(orange, yellow);
    text-decoration: none;
    padding: 20px 30px;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    box-shadow: 2px 2px 5px 1px orange;
    
}

#section2{
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
}